:root {
    --background-color: #f5deb3; 
}

body {
    background-color: var(--background-color);
}

.panel {
    position: absolute;
    background-color: #f0e68c; /* Khaki */
    border: 8px solid #d2b48c; /* Tan */
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.header {
    left: 47.5%;
    top: 90px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
}

.header-text {
    font-size: 30px;
    font-weight: bold;
    width: 220px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer {
    left: 47.5%;
    top: 750px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
    position: grid;
    grid-template-columns: 1fr 1fr;
}

.footer button {
    margin-left: 5px;
    margin-top: 15px;
    width: 140px;
    height: 50px;
    background-color: #66cdaa; /* Medium Aquamarine */
    font-size: 20px;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    border: 5px solid #5f9ea0; /* Cadet Blue */
    font-weight: bold;
}

.footer button:hover {
    color: #5f9ea0; /* Cadet Blue */
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 30px;
    width: 530px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 20%;
    background-color: #f5deb3; /* Wheat */
    border: 8px solid #d2b48c; /* Tan */
    border-radius: 8%;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gameCircle {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid #333; /* Dark Gray */
}

.player_0 {
    background-color: #ffffff; /* White */
}

.player_1 {
    background-color: #ff6347; /* Tomato */
}

.player_2 {
    background-color: #4682b4; /* Steel Blue */
}
